$default-blue:#45A8E8;
$default-text-color: #606060;

$disabled-button-background: #D8D8D8;

$placeholder-color: darkslategrey;

$background-color: #F1F1F1;

$footer-background-color: #E7E7E7;
$footer-text-color: #BDBDBD;

$font: Helvetica Neue, sans-serif;