@import "default/colors";

#head {
  width:100%;
  background-color: $default-blue;
  height:60px;
  position:fixed;
  z-index:10;
}

#logo {
  height:50px;
  width:300px;
  display:block;
  margin:auto;
  margin-top: 5px;
}

#back {
  height:35px;
  width:35px;
  position:fixed;
  top:0px;
  left:0px;
  margin: 12px 0px 0px 15px;
  cursor:pointer;
  z-index:11;
}