<template name="about">
    <img src="/back.png" alt="back-icon" onclick="history.back()" id="back"/>
    <h1>Was ist proSplit?</h1>
    <p>
        proSplit ist ein Dienst mit dem einfach der Überblick über Zahlungen in einer Gruppe bewahrt wird. Mit proSplit können Sie Events erstellen, Rechnungen anlegen und Kontakte verwalten.
    </p>
    <h3>Home</h3>
    <p>
        Hier finden Sie die beiden Events, an denen Sie zuletzt beteiligt waren und die noch ausstehenden Ausgleichszahlungen.
        Wenn Sie Geld erhalten, ist der Betrag grün ,schulden Sie einer anderen Person Geld, ist er rot.
    </p>
    <h3>Events</h3>
    <p>
        Hier können Sie ein Event erstellen und sehen alle Events, an denen Sie beteiligt sind, in einer Übersicht.
        Wenn Sie ein Event auswählen, sehen eine Übersicht über die Zahlungen, die Gesamtbilanz aller Teilnehmer und die Ausgleichzahlungen für dieses Event.
    </p>
    <h3>Benutzer</h3>
    <p>Hier finden Sie die Benutzer, die Sie zu Ihren Kontakten hinzugefügt haben zusammen mit eventuell anstehenden Zahlungen an diese Person.</p>
    <p>Nur Personen, die Sie zu Ihren Kontakten hinzugefügt haben, können Sie in einer Rechnung als Bezahler oder Beteiligte anwählen.</p>
</template>
