<template name="addBillView">
    <img src="/back.png" alt="back-icon" onclick="history.back()" id="back"/>
    <h1 data-id="{{_id}}">Zahlung hinzufügen: </h1>

    <form role="form">
        <!--Titel-->
        <div class="form-group">
            <label for="title">Titel:</label>
            <input type="text" class="form-control" id="title">
        </div>

        <!--Betrag-->
        <div class="form-group">
            <label for="amount">Betrag:</label>
            <input type="number" class="form-control" id="sum">
        </div>

        <!--Bezahler-->
        <div class="form-group">
            <label for="payer">Bezahlt von:</label>
            <select name="payer" class="form-control select-input" id="payer_val">
                <option>{{username}}</option>
                {{#each friends}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
        </div>

        <!--Beteiligte-->
        <br /><label>Beteiligte:</label>
        <div class="row">
            <div class="col-xs-6">
                <div class="checkbox">
                    <label><input type="checkbox" value="{{username}}">{{username}}</label>
                </div>
            </div>
            {{#each friends}}
                <div class="col-xs-6">
                    <div class="checkbox">
                        <label><input type="checkbox" value="{{this}}">{{this}}</label>
                    </div>
                </div>
            {{/each}}
        </div>
        <br />
    </form>

    <button id="addBill">Zahlung hinzufügen</button>
</template>