<template name="addUserView">
    <img src="/back.png" alt="back-icon" onclick="history.back()" id="back"/>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="searchUser" class="form-control" autofocus/>
        </div>
    <table class="table table-hover" id="results">
        <!-- Username results here -->
        <tbody>
            {{#each users}}
                <tr><td><span style="float:left;">{{this}}</span><img src="/next.png" style="float: right;width:20px;" /></td></tr>
            {{/each}}
        </tbody>
    </table>
</template>