<template name="agb">
    <img src="/back.png" alt="back-icon" onclick="history.back()" id="back"/>
    <h1>Allgemeine Geschäftsbedingungen</h1>
    <h3>Nutzung</h3>
    <p>
        proSplit darf von jedem für seine Zwecke kostenlos genutzt werden, solange dabei nicht gegen geltendes deutsches oder europäisches Recht verstoßen wird.
    </p>
    <h3>Lizenz</h3>
    <p>
        proSplit ist ein kostenloser Webservice (Software as a Service). Die Lizenz liegt bei <br />
        Kevin Linne<br />
        Im Winkel 2<br />
        35085 Ebsdorfergrund
    </p>

    <h3>Gewährleistung</h3>
    <p>
        Ich sind bemüht, den Online-Dienst proSplit zuverlässig und störungsfrei zu betreiben, kann dies aber nicht garantieren.
        Ich übernehme keine Haftung für den Verlust von Daten, zum Beispiel bei rechtswidriger Nutzung des Dienstes.
    </p>
</template>