<template name="datenschutz">
    <img src="/back.png" alt="back-icon" onclick="history.back()" id="back"/>
    <h1>Datenschutzerklärung</h1>
    <h3>Geltungsbereich</h3>
    <p>
        Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten
        durch den verantwortlichen Anbieter <br/>
        Kevin Linne <br/>
        Im Winkel 2<br/>
        35085 Ebsdorfergrund<br/>
        Mail: info@kevin-linne.de<br/>
        Tel.: +49 151 65163062<br/>
        auf dieser Website (im folgenden “Angebot”) auf.
    </p>
    <p>
        Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG).</p>

    <h3>Umgang mit personenbezogenen Daten:</h3>
    <p>
        Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person bestimmbar ist, also Angaben, die zurück
        zu einer Person verfolgt werden können. Dazu gehören der Name, die Emailadresse oder die Telefonnummer.
        Aber auch Daten über Vorlieben, Hobbies, Mitgliedschaften oder welche Webseiten von jemandem angesehen wurden zählen zu personenbezogenen Daten.
    </p>
    <p>
        Personenbezogene Daten werden von dem Anbieter nur dann erhoben, genutzt und weiter gegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die Datenerhebung einwilligen.
    </p>

    <h3>Registrierfunktion</h3>
    <p>
        Die im Rahmen der Registrierung eingegebenen Daten werden für die Zwecke der Nutzung des Angebotes verwendet.
        Die Nutzer können über angebots- oder registrierungsrelevante Informationen, wie Änderungen des Angebotsumfangs
        oder technische Umstände per E-Mail informiert werden. Die erhobenen Daten sind aus der Eingabemaske im Rahmen der
        Registrierung ersichtlich. Dazu gehören ein frei gewählter Benutzername und ein Passwort.
    </p>

    <h3>Widerruf, Änderungen, Berichtigungen und Aktualisierungen</h3>
    <p>
        Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten,
        die über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht auf Berichtigung unrichtiger Daten, Sperrung
        und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.
    </p>

</template>
