<template name="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom footer footer-gradient">
        <div class="container-fluid text-center">
            <a href="/">
                <div class="col-xs-3" id="home">
                    <img src="/icons/home.png" /><br />
                    <p id="home-label">Home</p>
                </div>
            </a>
            <a href="/events">
                <div class="col-xs-3" id="events">
                    <img src="/icons/event.png" /><br />
                    <p id="event-label">Events</p>
                </div>
            </a>
            <a href="/user">
                <div class="col-xs-3" id="user">
                    <img src="/icons/user.png" /><br />
                    <p id="user-label">Benutzer</p>
                </div>
            </a>
            <a href="/more">
                <div class="col-xs-3" id="more">
                    <img src="/icons/more.png" /><br />
                    <p id="more-label">Mehr</p>
                </div>
            </a>
        </div>
    </nav>
</template>