<template name="loginView">
    <h1>Login/Registrierung:</h1>
    <form role="form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button type="submit" class="btn btn-default" id="register" disabled>Registrieren</button>
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-default" id="login" disabled>Login</button>
            </div>
        </div>

        <a href="/more"><button class="moreInfo">Weitere Informationen zu proSplit</button></a>


    </form>
</template>