<template name="moreView">
    <h1>Mehr:</h1>
    <table class="table table-hover moreViewTable">
        <tbody>
            <tr>
                <td data-id="about"><span style="float:left;" data-id="about">Wie funktioniert proSplit?</span><img src="/next.png" style="float: right;width:20px;" data-id="about" /></td>
            </tr>
            <tr>
                <td data-id="impressum"><span style="float:left;" data-id="impressum">Impressum</span><img src="/next.png" style="float: right;width:20px;" data-id="impressum" /></td>
            </tr>
            <tr>
                <td data-id="datenschutz"><span style="float:left;" data-id="datenschutz">Datenschutz</span><img src="/next.png" style="float: right;width:20px;" data-id="datenschutz" /></td>
            </tr>
            <tr>
                <td data-id="agb"><span style="float:left;" data-id="agb">Allgemeine Geschäftsbedingungen</span><img src="/next.png" style="float: right;width:20px;" data-id="agb" /></td>
            </tr>
            <tr>
                <td data-id="logout"><span style="float:left;" data-id="logout">Ausloggen</span><img src="/next.png" style="float: right;width:20px;" data-id="logout" /></td>
            </tr>


        </tbody>
    </table>

</template>